<%- include("partials/header") %>
<link rel="stylesheet" href="app.css">
<h1>
	The Posts Page
</h1>

<% for (var i = 0; i < posts.length; i++){ %>
	<% var post = posts[i];%>
	<h2>title: <%= post.title %>  author: <%= post.author %>  </h2>
<%} %>

<% posts.forEach(function(post){ %>
<li><%= post.title %> - <strong><%= post.author%> </strong></li>
<%});%>
<%- include("partials/footer") %>